<?xml version="1.0"?>
<config>    
  <modules>
    <Boxtale_Envoimoinscher>
      <version>1.2.7</version>
      <depends>
        <Mage_Adminhtml/>
        <Mage_Shipping/>
      </depends>
    </Boxtale_Envoimoinscher>
  </modules>
  <frontend>
    <events>
      <sales_quote_load_after>
        <observers>
          <envoimoinscher_save_parcelpoint>
            <type>singleton</type>
            <class>envoimoinscher/observer</class>
            <method>saveParcelPoint</method>
          </envoimoinscher_save_parcelpoint>
        </observers>
      </sales_quote_load_after>
      <checkout_onepage_controller_success_action>
        <observers>
          <envoimoinscher_shipment_success>
            <type>singleton</type>
            <class>envoimoinscher/observer</class>
            <method>orderShipment</method>
          </envoimoinscher_shipment_success>
        </observers>
      </checkout_onepage_controller_success_action>
    </events>
  <!-- define layout config file -->
    <layout>
      <updates>
        <envoimoinscher module="Boxtale_Envoimoinscher">
          <file>envoimoinscher.xml</file>
        </envoimoinscher>
      </updates>
    </layout>
    <routers>
      <envoimoinscher>
        <use>standard</use>
        <args>
          <module>Boxtale_Envoimoinscher</module>
          <frontName>envoimoinscher</frontName>
        </args>
      </envoimoinscher>
    </routers> 
  </frontend>
  <admin>
    <routers>
      <envoimoinscher>
        <use>admin</use>
        <args>
          <module>Boxtale_Envoimoinscher</module>
          <frontName>envoimoinscher</frontName>
        </args>
      </envoimoinscher>
    </routers>
  </admin>
  <adminhtml>
  <!-- define menu placement : sales -->
    <menu>
      <sales module="sales"> 
        <sort_order>20</sort_order>
        <children>
          <envoimoinscher translate="title" module="sales">
            <title>EnvoiMoinsCher</title>
            <sort_order>31</sort_order>
            <children> 
              <support translate="title" module="sales"> 
                <title>aide</title>
                <action>envoimoinscher/help/index</action> 
              </support>
              <config translate="title" module="sales"> 
                <title>configuration</title>
                <action>envoimoinscher/configuration/configure</action> 
              </config>
              <dimensions translate="title" module="sales">
                <title>dimensions</title>
                <action>envoimoinscher/dimensions/table</action>
              </dimensions>
              <orders translate="title" module="sales">
                <title>exp&#xE9;ditions</title>
                <action>envoimoinscher/sales/index</action>
              </orders>
              <rules_shipping translate="title" module="sales">
                <title>frais de port offerts</title>
                <action>envoimoinscher/rules/configure</action>
              </rules_shipping>
              <scale translate="title" module="sales">
                <title>grille tarifaire</title>
                <action>envoimoinscher/scale/table</action>
              </scale>
              <history translate="title" module="sales">
                <title>historique des envois</title>
                <action>envoimoinscher/history/index</action>
              </history>
              <updates translate="title" module="sales">
                <title>mises &#xE0; jour</title>
                <action>envoimoinscher/updates/list</action>
              </updates>
              <services translate="title" module="sales">
                <title>offres de transport</title>
                <action>envoimoinscher/services/table</action>
              </services>
              <tests translate="title" module="sales">
                <title>tests</title>
                <action>envoimoinscher/tests/do</action>
              </tests>
            </children>
          </envoimoinscher>
        </children>
      </sales>
    </menu>
    <!-- set admin layout config file -->
    <layout>
      <updates>
        <envoimoinscher module="Boxtale_Envoimoinscher">
          <file>envoimoinscher.xml</file>
        </envoimoinscher>
      </updates>
    </layout>
    <events>
    <!-- to handle observers --> 
      <admin_system_config_changed_section_carriers>
        <observers>
          <check_exists>
            <type>singleton</type>
            <class>envoimoinscher/observer</class>
            <method>checkExists</method>
          </check_exists>
          <mails_config>
            <type>singleton</type>
            <class>envoimoinscher/observer</class>
            <method>updateMailsConfig</method>
          </mails_config>
        </observers>
      </admin_system_config_changed_section_carriers>
      <adminhtml_widget_container_html_before>
        <observers>
          <mails_configa>
            <type>singleton</type>
            <class>envoimoinscher/observer</class>
            <method>getMailsConfig</method>
          </mails_configa>
        </observers>
      </adminhtml_widget_container_html_before>
    </events>
  </adminhtml>
  <default>
  <!-- specify default values of emc plugin -->
    <carriers>
      <envoimoinscher>
        <active>1</active>
        <first_name>Owner</first_name>
		<model>Boxtale_Envoimoinscher_Model_Carrier_ShippingMethod</model>
        <address></address>
        <complementary/>
        <postal_code>90034</postal_code>
        <city_name/>
        <order_mode>manuel</order_mode>
        <environment>TEST</environment>
        <telephone></telephone>
        <mail_account>owner@example.com</mail_account>
        <restitution>1</restitution>
      <sallowspecific>0</sallowspecific><specificcountry></specificcountry></envoimoinscher>
    </carriers>
  </default>
  <global>
    <blocks>
      <envoimoinscher><class>Boxtale_Envoimoinscher_Block</class></envoimoinscher>
      <checkout>
        <rewrite>
          <type_onepage>Boxtale_Envoimoinscher_Block_Onepage</type_onepage>
        </rewrite>
        <rewrite>
          <onepage_shipping_method_available>Boxtale_Envoimoinscher_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
        </rewrite>
      </checkout>  
    </blocks> 
    <models>
      <checkout>
        <rewrite>
          <type_onepage>Boxtale_Envoimoinscher_Model_Emc_Onepage</type_onepage>
        </rewrite>
      </checkout> 
      <envoimoinscher>
        <class>Boxtale_Envoimoinscher_Model</class>
        <resourceModel>emc_mysql</resourceModel>
      </envoimoinscher>
      <emc_mysql>
        <class>Boxtale_Envoimoinscher_Model_Mysql4</class>
        <entities>
          <emc_categories>
            <table>emc_categories</table>
          </emc_categories>
          <emc_delay>
            <table>emc_delay</table>
          </emc_delay>
          <emc_dimensions>
            <table>emc_dimensions</table>
          </emc_dimensions>
          <emc_dispo_end>
            <table>emc_dispo_end</table>
          </emc_dispo_end>
          <emc_dispo_start>
            <table>emc_dispo_start</table>
          </emc_dispo_start> 
          <emc_documents>
            <table>emc_documents</table>
          </emc_documents>
          <emc_environment>
            <table>emc_environment</table>
          </emc_environment>
          <emc_mass>
            <table>emc_mass</table>
          </emc_mass>
          <emc_operators>
            <table>emc_operators</table>
          </emc_operators> 
          <emc_orders>
            <table>emc_orders</table>
          </emc_orders> 
          <emc_orders_errors>
            <table>emc_orders_errors</table>
          </emc_orders_errors>
          <emc_orders_parcels>
            <table>emc_orders_parcels</table>
          </emc_orders_parcels>
          <emc_orders_tmp>
            <table>emc_orders_tmp</table>
          </emc_orders_tmp>
          <emc_points>
            <table>emc_points</table>
          </emc_points>
          <emc_points_tmp>
            <table>emc_points_tmp</table>
          </emc_points_tmp>
          <emc_profitability>
            <table>emc_profitability</table>
          </emc_profitability>
          <emc_services>
            <table>emc_services</table>
          </emc_services>
          <emc_services_has_zones>
            <table>emc_services_has_zones</table>
          </emc_services_has_zones>
          <emc_services_rules>
            <table>emc_services_rules</table>
          </emc_services_rules>
          <emc_tracking>
            <table>emc_tracking</table>
          </emc_tracking>
          <emc_types>
            <table>emc_types</table>
          </emc_types>
          <emc_zones>
            <table>emc_zones</table>
          </emc_zones> 
        </entities>
      </emc_mysql>
    </models>
    <resources>
      <envoimoinscher_setup>
        <setup> 
          <module>Boxtale_Envoimoinscher</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </envoimoinscher_setup>
      <envoimoinscher_write>
        <connection>
          <use>core_write</use>
        </connection>
      </envoimoinscher_write>
      <envoimoinscher_read>
        <connection>
          <use>core_read</use>
        </connection>  
      </envoimoinscher_read>      
    </resources>
    <helpers>
      <envoimoinscher>
        <class>Boxtale_Envoimoinscher_Helper</class>
      </envoimoinscher>
      <emc_sender>
        <class>Boxtale_Envoimoinscher_Helper_Sender</class>
      </emc_sender>
      <emc_validator>
        <class>Boxtale_Envoimoinscher_Helper_Validator</class>
      </emc_validator>
    </helpers>
  </global>
</config>
